html, body {
    height: 100%;
}

h1,h2,h3,h4,h5{
    font-family: $font-heading-bold;
}

b{
    font-family: $font-text-bold;
}

body{
    font-family: $font-text-regular;
    color:  getColor("dark-text");
    background-color:  getColor("background-light");
}
.wrapper{
    min-height: calc(100% - 178px);
}