.details{
    min-height: 652px;
    background-color: white;
    border: none !important;
}

.recomendation{
    &__arrow{
        &--left{
            z-index: 1000;
           
        }
        &--right{
            z-index: 1000;
            
        }
       
    }
}

.carousel-nav-icon {
    height: 48px;
    width: 48px;
 }
 .carousel-item {
    .col, .col-sm, .col-md {
       margin: 8px;
       height: 300px;
       background-size: cover;
       background-position: center center;
    }
 }
 .carrousel__container{
     min-height: 390px;
 }
 .cards__container{
     min-height: 365px;
 }