.login{
    display: flex;
    align-items: center;
    padding-top: 40px;
    
    &__container{
        width: 100%;
        max-width: 370px;
        // margin: 10px !important;
        padding: 10px;
        margin: auto;
        background-color: white;

    }
    &__floating input{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

