.navigation{
    background-color:  getColor("light-brown") !important;
    &__logo{
        width: 175px;
    }    
    
    &__cart{
        position: relative;  
        padding-right: 1.5rem;
        &--total{
            left: 75% !important;
            height: 30px;
            width: 30px;
            line-height: 22px;
        }
    }
    &__search{
        position: relative;
        flex: 1;

        &--icon{
           align-self: center;
           margin-left: 5px;
        }
       
    }
    &__admin{
        font-family: "montserrat-semibold", sans-serif ;
        letter-spacing: 3px;

    }

    .nav-item{
        font-family: $font-heading-semibold;
        letter-spacing: 3px;
    }
}
.zoom{
    transition: transform .3s;
    transform-origin: center center;
}
.zoom:hover{
    transform: scale(1.15);
}

@media only screen and (max-width: 991px) {
    .zoom{
        transform-origin: left bottom;
    }
}