.navigation{
    background-color:  getColor("light-brown") !important;
    &__menu{
        background-color: getColor("dark-brown");
    }
    &__logo{
        width: 175px;
    }    
    &__search{
        flex: 1;
        justify-content: flex-end;

        &--icon{
           align-self: center;
           margin-left: 5px;
        }
        &--button{
            width: 46px !important;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }
        &--input{
            max-width: 400px;
            border: none;
            background: #fff !important;
            color: rgba(0, 0, 0, 0.7) !important;
            font-size: 14px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    &__cart{
        position: relative;  
        padding-right: 1.5rem;
        &--total{
            left: 75% !important;
            height: 30px;
            width: 30px;
            line-height: 22px;
        }
    }
    &__admin{
        font-family: "montserrat-semibold", sans-serif ;
        letter-spacing: 3px;

    }

    .nav-item{
        font-family: $font-heading-semibold;
        letter-spacing: 3px;
    }
}
.zoom{
    transition: transform .3s;
    transform-origin: center center;
}
.zoom:hover{
    transform: scale(1.15);
}

@media only screen and (max-width: 991px) {
    .zoom{
        transform-origin: left bottom;
    }
    .navigation{
        &__logo{
            width: 140px;
            margin-right: 0 !important;
        }
        &__cart{
            margin-right: 0 !important;
        }
        &__admin{
            letter-spacing: 1px;
        }
    }
}