.navigation{
    background-color:  getColor("light-brown") !important;
    &__logo{
        width: 175px;
    }    
    
    &__cart{
        position: relative;  
        &--total{
            float: right;
        }
    }
    &__search{
        position: relative;
        flex: 1;

        &--icon{
           align-self: center;
           margin-left: 5px;
        }
       
    }
    &__admin{
        font-family: "montserrat-semibold", sans-serif ;
        letter-spacing: 3px;

    }

    .nav-item{
        font-family: $font-heading-semibold;
        letter-spacing: 3px;
    }
}
.zoom{
    transition: transform .3s;
    transform-origin: left bottom;
}
.zoom:hover{
    transform: scale(1.15);
}