$font-text-regular: "lora-regular", serif;
$font-text-bold: "lora-bold", serif;
$font-heading-semibold: "montserrat-semibold", sans-serif;
$font-heading-bold: "montserrat-bold", sans-serif;

$primary: #222326 !important;

$colours: (
   dark-brown:  #8C7762,
   light-brown: #D9C2AD8C,
   main-brown: #D9C2AD,
   dark-green: #54818C,
   light-green: #ADD0D9,
   dark-text: #222326,
   background-light: #F2F2F0,
);

@function getColor($color) {
    @return map-get($colours, $color);
}


.btn-feature {
    -webkit-box-shadow: 2px 5px 16px 0px #54818C, 5px 5px 15px 24px rgba(106,0,140,0); 
    box-shadow: 2px 5px 16px 0px #54818C, 5px 5px 15px 24px rgba(106,0,140,0);
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: $font-heading-semibold;
    @include button-variant(getColor("light-green"), 
                         darken(getColor("light-green"),3%)); 
}
