$font-text-regular: "lora-regular", serif;
$font-text-bold: "lora-bold", serif;
$font-heading-semibold: "montserrat-semibold", sans-serif;
$font-heading-bold: "montserrat-bold", sans-serif;

$colours: (
   dark-brown:  #8C7762,
   light-brown: #D9C2AD8C,
   main-brown: #D9C2AD,
   dark-green: #54818C,
   light-green: #ADD0D9,
   dark-text: #222326,
   background-light: #F2F2F0,
);

@function getColor($color) {
    @return map-get($colours, $color);
}
// Sett colors on text-dark , primay and so on
$dark: getColor("dark-text");
$primary: getColor("dark-text");

// Color for primary button 
$buttonColorPrimary:getColor("light-brown");
.btn-primary {
    @include button-variant($buttonColorPrimary, 
                            darken($buttonColorPrimary, 7.5%), 
                            $dark,
                            lighten($buttonColorPrimary,5%), 
                            lighten($buttonColorPrimary, 10%), 
                            $dark);
}

.btn-feature {
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: $font-heading-semibold;
    @include button-variant(getColor("light-green"), 
                         darken(getColor("light-green"),3%)); 
}
